<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, telephone=no"
    />
    <title>Nuvi code</title>
  </head>

  <style>
    p {
      margin: 0;
      padding: 0;
    }
  </style>

  <body
    style="padding: 0; margin: 0; -webkit-text-size-adjust: none !important"
  >
    <table
      bgcolor="#F4E0BF"
      width="600"
      border="0"
      cellspacing="0"
      cellpadding="0"
      align="center"
      style="font-family: arial"
    >
      <tr>
        <td align="left" valign="top">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            align="center"
            style="font-family: arial; text-align: center"
          >
            <tr>
              <td>
                <img
                src="{{cdnAdminUrl}}/public/emails/images/banner-password.png"
                  width="600"
                  height="340"
                  border="0"
                  style="display: block"
                />
              </td>
            </tr>
            <tr>
              <!-- <td style="padding: 20px 20px;">
                <p
                  style="
                    padding: 10px 0;
                    color: #02098e;
                    font-size: 18px;
                    line-height: 25px;
                  "
                >
                  <b> XÁC NHẬN ĐĂNG KÝ GIẢI ĐUA THÀNH CÔNG<br /> </b>
                </p>
              </td> -->
            </tr>
            <tr>
              <td>
                <p style="
                    padding: 0 20px 0px 20px;
                    line-height: 20px;
                    font-size: 14px;
                    text-align: center;
                  "
                >
                <!-- Cảm ơn bạn,<b style="text-transform: uppercase;"> Su Su <br /> </b> -->
                <br />

                </p>
                <p style="
                    padding: 20px 35px 20px 35px;
                    line-height: 25px;
                    font-size: 14px;
                    text-align: center;
                  "
                > Bạn quên mất mật khẩu đừng lo lắng, nhân viên hỗ trợ sẽ cung cấp cho mã xác nhận để đăng nhập mật khẩu mới.<br />

                </p>
                <p style="
                    padding: 0 10px 10px 10px;
                    line-height: 25px;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #593A24;
                  "
                > MÃ XÁC NHẬN<br />
                </p>
                <p style="
                    padding: 0 10px 10px 10px;
                    line-height: 25px;
                    font-size: 24px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    color: #D33A27;
                  "
                > {{code}}<br />
                </p>
                <!-- Link button -->
                <p>
                  <a href="{{frontendUrl}}/reset-password?resetCode={{code}}">
                    <img style="display: block; width: 200px; margin-left: auto; margin-right: auto;"
                    src="{{cdnAdminUrl}}/public/emails/images/button-password.png"/>
                  </a>
                </p>
                 <!-- Link button -->
                <p style="
                    padding: 0px 20px 0px 20px;
                    line-height: 25px;
                    font-size: 14px;
                    text-align: center;
                  " > <br />
                  </p>

                  <p><img
                    style="display: block; width: 500px; margin-left: auto; margin-right: auto;"
                    src="{{cdnAdminUrl}}/public/emails/images/footer-social.png" usemap="#Map" border="0" /></p>

                  <p style="
                    padding: 0 20px 20px 20px;
                    line-height: 25px;
                    font-size: 14px;
                    text-align: center;
                  " > <br />
                  </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            align="center"
            style="
              font-family: arial;
              text-align: center;
              background: #02098e;
              color: #fff;
            "
          >
          </table>
        </td>
      </tr>
    </table>

    <div
      style="
        display: none;
        white-space: nowrap;
        font: 15px courier;
        color: #ffffff;
      "
    >
      - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    </div>

  <map name="Map">
    <area shape="circle" coords="400,36,21" href="https://www.facebook.com/thegioinuvi/" target="_blank">
    <area shape="circle" coords="449,35,21" href="https://www.youtube.com/channel/UCbN_mr0ZiIuHCRcBrf_7apQ" target="_blank">
  </map>
  </body>
</html>
<p style="display: none !important;"><a href="{unsubscribe}" style="text-decoration: none;"></a><br><a href="{accountaddress}"></a></p>